.about {
  background: #000;
  padding: 140px 9%;
  color: white;
  font-family: "Poppins", sans-serif;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
}

.about-left {
  flex: 1;
}

.small-title {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.45);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.about-left h1 {
  font-size: 64px;
  font-weight: 750;
  line-height: 1.15;
  color: white;
}


.about-right {
  flex: 1.3;
  font-size: 18px;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.72);
}

.about-right p {
  margin-bottom: 26px;
}


.about-right b {
  color: white;
  font-weight: 600;
}


.about-right p:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}
@media (max-width: 950px) {
  .about-container {
    flex-direction: column;
    gap: 50px;
  }

  .about-left h1 {
    font-size: 45px;
  }

  .about-right {
    font-size: 16px;
  }
}
.small-title{
     text-align: center;
    font-size: 30px;
    font-weight: 1000;
    color: white;
    padding-right: 100px;
}