* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  color: #fff;
}

.contact-section {
  padding: 120px 8%;
  text-align: center;
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 14px;
  letter-spacing: 3px;
  color: #aaa;
}

.line {
  width: 40px;
  height: 2px;
  background: #fff;
}

.contact-section h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 14px;
}

.subtitle {
  font-size: 18px;
  color: #b5b5b5;
  margin-bottom: 70px;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.contact-card {
  background: radial-gradient(
    circle at top left,
    #1c1c1c,
    #0a0a0a 70%
  );
  border-radius: 22px;
  padding: 55px 30px;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.06),
    0 25px 60px rgba(0, 0, 0, 0.9);
  transition: 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-6px);
}

.icon-box {
  width: 64px;
  height: 64px;
  margin: 0 auto 24px;
  border-radius: 16px;
  background: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

.contact-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.info {
  font-size: 15px;
  color: #aaa;
  margin-bottom: 22px;
}

.action {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

.contact-section h2,
.contact-card h3,
.action {
  color: #ffffff !important;
}


.info {
  color: #ffffff !important;
  opacity: 0.75;
}


.subtitle {
  color: #ffffff !important;
  opacity: 0.7;
}
.icon-box{
    color: white !important;
}
.contact-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 40px;
}
.info{
    cursor: pointer;
}