/* ===== NAVBAR BASE ===== */
.custom-navbar {
  position: fixed !important ;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;

  background: linear-gradient(to right, #0f0f0f, #1a1a1a);
  z-index: 9999;
}

/* Logo (agar text logo hai) */
.custom-navbar .logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

/* Nav links */
.custom-link {
  color: #fff !important;
  font-size: 16px;
  margin-right: 28px;
  cursor: pointer;
}

/* Remove bootstrap hover color */
.custom-link:hover {
  color: #fff !important;
}

/* Hamburger button */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Hamburger icon white */
.navbar-toggler-icon {
  filter: invert(1);
}

/* Mobile dropdown background */
@media (max-width: 991px) {
  .navbar-collapse {
    background: #000;
    padding: 12px 0;
  }

  .custom-link {
    margin: 12px 0;
    text-align: center;
  }
}
